button{
  cursor: pointer;
  height: 60px;
  background-color: rgb(91, 130, 91);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  min-width: 40px;
  font-weight: 900;
  font-size: 1.2em;
  border: 1px rgb(110, 110, 110) solid;
}

button:hover {
  background-color: rgb(84, 120, 84);
}

.qty-input-wrapper .left-button, .qty-input-wrapper .right-button {
  background-color: rgba(255, 255, 0, 0.644);
  color: black;
}

.qty-input-wrapper .left-button:hover,
.qty-input-wrapper .right-button:hover {
  background-color: rgb(245, 245, 0);
}

.qty-input-wrapper .left-button {
  border-radius: 5px 0px 0px 5px;
}


.qty-input-wrapper .right-button {
  border-radius: 0px 5px 5px 0px;
}

.qty-input-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

input {
  width: 100%;
  border-radius: 0;
  border: 0;
  appearance: none;
  -moz-appearance: textfield;
  font-size: 1.2em;
  font-weight: 900;
  text-align: center;
  background-color: rgb(242, 242, 242);
  border: 1px rgb(110, 110, 110) solid;
  border-left: none;
  border-right: none;
}