.header {
  width: 100vw;
  padding: 30px 50px;
  text-align: end;
  background-color: black;
  color: white;
}

.header a {
  color: white;
  text-decoration: none;
}

.header a:hover {
  text-decoration: underline;
}

