.header {
  width: 100vw;
  padding: 10px 50px;
  text-align: end;
  background-color: rgba(0,0,0,1);
  color: white;
  position: fixed;
  top: 0px;
}

.header a {
  color: white;
  text-decoration: none;
}

.header a:hover {
  text-decoration: underline;
}

