.product-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.product-card img{
  height: 200px;
  object-fit: contain;
}

.product-card .sub-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  font-size: 0.8em;
  color: rgb(110, 110, 110);
}

.product-card .price {
  font-size: 1.2em;
}

.product-card .description {
  font-size: 0.9em;
} 

